<!--title=<!--<title>-->--> <!--subtitle=<!--<subtitle>-->-->
<!--origin=<!--<origin>-->-->
<!--generationdate=<!--<generationdate>-->-->
<div id="global">

  <div id="myHeader">

    <!--links-->

    <div id="slogan">
      <!--main_title-->
    </div>

    <div id="cadre_help">
      <!--login--><br />
      <!--search-->
    </div>
  </div>

  <div id="mainArea">

    <nav id="myLeftArea">
      <div class="title">
        <!--<version>-->
      </div>
      <!--<toclist>-->
    </nav>


    <div id="myMiddleArea">

      <div class="editbar">
        <nav class="selectlanguage">
          <!--selectlanguage-->
        </nav>

        <nav class="favorite">
          <!--favorite-->
        </nav>
      </div>
      <nav><!--<path>--></nav>
      <br />
      <!--<content>-->

      <!--zone_comment-->

      <table width="100%">    <tr><td colspan="3" class="next"><a href="https://gitlab.com/scilab/scilab/-/issues/new" class="ulink">Report an issue</a></td></tr>
<tr>
          <td width="30%">
            <!--<previous>-->
          </td>
          <td width="40%" class="center">
            <!--<top>-->
          </td>
          <td width="30%" class="next" align="right">
            <!--<next>-->
          </td>
      </tr></table>
      <hr />
    </div>

  </div>


  <div id="myFooter">
    <table width="100%"><tr><td>
          <!--copyright-->
          </td><td align="right">
          <!--lastupdated-->
          <br /><br /><br />
        </td>
    </tr></table>

  </div>
</div>
